<script>
  import { page } from "$app/stores";
</script>

<div class="min-h-screen flex flex-col items-center justify-center">
  <div class="text-center">
    <img src="/images/emojis/animated/man_shrugging.png" alt="Heart Loader" title="Loading" />
  </div>
  <h1 class="text-5xl font-bold mt-4 text-center">{$page.status}</h1>
  <h1 class="text-3xl font-bold mt-4 text-center">{$page.error.message}</h1>
</div>
