<script>
  import { onMount } from "svelte";
  import { goto } from "$app/navigation";
  import {
    tokenType,
    accessToken,
    preloaded,
    loadingStatus,
  } from "$lib/stores";
  import { preload } from "$lib/services/preload";
  import Loading from "$lib/components/global/Loading.svelte";
  import Footer from "$lib/components/global/Footer.svelte";
  import "../app.css";

  let preloadFinished = false;

  preloaded.subscribe((value) => {
    preloadFinished = value;
  });

  let loggedIn = false;

  onMount(async () => {
    await preload();

    loadingStatus.set("Checking Spotify login status...");
    fetch("https://api.spotify.com/v1/me", {
      headers: {
        Authorization: `${$tokenType} ${$accessToken}`,
      },
    })
      .then((res) => {
        if (res.status === 200) {
          loggedIn = true;
        } else {
          goto("/spotify/login");
        }
      })
      .catch((err) => {
        console.error(err);
      });
  });
</script>

<main class="min-h-screen">
  {#if preloadFinished}
    <slot />
  {:else}
    <Loading />
  {/if}
</main>
<Footer />
