<script>
  import { onMount } from "svelte";
  import { goto } from "$app/navigation";
  import { playlists } from "$lib/stores";
  import { getPlaylists } from "$lib/utils/getPlaylists";
  import Loading from "$lib/components/global/Loading.svelte";

  let visible = false;

  onMount(async () => {
    playlists.set(await getPlaylists());
    visible = true;
  });
</script>

{#if visible}
  <div class="container mx-auto px-4 md:px-0">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 my-5">
      {#each Object.entries($playlists) as t}
        <div
          class="group cursor-pointer relative bg-gray-200 rounded-lg overflow-hidden shadow-lg w-full sm:w-64 h-64"
          on:click={() => {
            goto(`/playlist/${t[1].id}`);
          }}
        >
          <img
            src={t[1]["image"]}
            alt="Playlist 8"
            class="w-full h-full object-cover transform group-hover:scale-105 transition-transform duration-300"
          />
          <div class="absolute bottom-0 w-full bg-gradient-to-t from-black to-transparent p-4">
            <h2 class="text-white text-lg md:text-xl font-bold drop-shadow-md">
              {t[1].name}
            </h2>
          </div>
        </div>
      {/each}
    </div>
  </div>
{:else}
  <Loading />
{/if}
