<script>
  import { goto } from "$app/navigation";

  export let track;
</script>

<div class="rounded-lg overflow-hidden shadow-lg cursor-pointer bg-white" on:click={() => goto(`/track/${track.id}`)}>
  <img src={track.image} alt="" class="w-full h-64 object-cover" />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{track.name}</div>
    <p class="text-gray-700 text-base">{track.artist}</p>
    <p class="text-gray-500 text-sm">BPM: {Math.round(track.bpm)}</p>
  </div>
</div>
