<script>
  import { onMount } from "svelte";
  import { page } from "$app/stores";
  import { goto } from "$app/navigation";
  import { tokenType, accessToken, expiresIn } from "$lib/stores";

  let failed = false;

  onMount(() => {
    const queryParams = new URLSearchParams($page.url.hash.substring(1));

    if (
      queryParams.get("token_type") &&
      queryParams.get("access_token") &&
      queryParams.get("expires_in")
    ) {
      tokenType.set(queryParams.get("token_type"));
      accessToken.set(queryParams.get("access_token"));
      expiresIn.set(queryParams.get("expires_in"));

      goto("/");
    } else {
      console.error("Callback parameters are missing.");
      failed = true;
    }
  });
</script>

{#if failed}
  <div class="min-h-screen flex flex-col items-center justify-center">
    <div class="text-center">
      <img
        src="/images/emojis/confused.png"
        alt="Heart Loader"
        title="Loading"
      />
    </div>
    <h1 class="text-3xl font-bold mt-4">
      Spotify Login Failed, Please Try Again.
    </h1>
  </div>
{/if}
