<script>
  import { goto } from "$app/navigation";
  import { loginURL } from "$lib/stores";
</script>

<title>Spotify Login - CPRhythm</title>

<div class="flex flex-col justify-center items-center h-screen">
  <img src="/images/emojis/animated/heart_hands.png" alt="CPRhythm Logo" />
  <h1 class="text-3xl font-bold mb-5">CPRhythm</h1>
  <button
    class="btn"
    on:click={() => {
      goto(loginURL);
    }}>Login With Spotify</button
  >
</div>
