<script>
  import { page } from "$app/stores";
  import { playlists } from "$lib/stores";

  import Card from "$lib/components/playlist/Card.svelte";
</script>

<div class="min-h-screen py-8">
  {#if Object.values($playlists[$page.params.id].tracks).some((track) => track.cprSafe)}
    <h1 class="font-bold text-3xl md:text-4xl text-center mb-5">{$playlists[$page.params.id].name}</h1>

    <div class="container mx-auto px-4 md:px-0">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {#each Object.entries($playlists[$page.params.id].tracks) as track}
          {#if track[1].cprSafe}
            <Card track={track[1]} />
          {/if}
        {/each}
      </div>
    </div>
  {:else}
    <div class="flex flex-col items-center justify-center px-4">
      <div class="text-center">
        <img src="/images/emojis/animated/loudly_crying.png" alt="Heart Loader" title="Loading" class="w-24 h-24 md:w-32 md:h-32 mx-auto" />
      </div>
      <h1 class="text-3xl md:text-5xl font-bold mt-4 text-center text-gray-700">No tracks found</h1>
    </div>
  {/if}
</div>
