<script>
  import { onDestroy, onMount } from "svelte";
  import { page } from "$app/stores";
  import { tracks, loadingStatus } from "$lib/stores.js";
  import { searchYoutube } from "$lib/utils/searchYoutube";
  import { generateMetronome } from "$lib/utils/generateMetronome";
  import Loading from "$lib/components/global/Loading.svelte";
  import { goto } from "$app/navigation";

  const audioContext = new (window.AudioContext || window.webkitAudioContext)();
  let audio;
  let metronomeSource;
  let updateInterval;
  let currentTime = 0;

  async function loadAudioAndMetronome() {
    loadingStatus.set("Loading song");

    const audioResponse = await searchYoutube($tracks[$page.params.id].name, $tracks[$page.params.id].artist);

    audio = new Audio(audioResponse);
    audio.volume = 0.25;

    await new Promise((resolve) => {
      audio.onloadedmetadata = resolve;
    });

    loadingStatus.set("Generating metronome pattern");

    const bpm = $tracks[$page.params.id].bpm;

    const metronomeDuration = audio.duration || 0;
    metronomeSource = await generateMetronome(audioContext, bpm, metronomeDuration * 1000);
    metronomeSource.connect(audioContext.destination);

    audio.play();
    metronomeSource.start();

    updateInterval = setInterval(() => {
      currentTime = audio.currentTime;
    }, 500);

    audio.addEventListener("ended", () => {
      goto("/");
    });
  }

  onMount(loadAudioAndMetronome);

  onDestroy(() => {
    if (audio) {
      audio.pause();
      audio = undefined;
    }

    if (metronomeSource) {
      metronomeSource.stop();
      metronomeSource.disconnect();
      metronomeSource = undefined;
    }

    clearInterval(updateInterval);
  });
</script>

<title>{$tracks[$page.params.id].name} | {Math.round($tracks[$page.params.id].bpm)} BPM | CPRhythm</title>

<div class="min-h-screen flex items-center justify-center bg-gray-100">
  {#if audio === undefined || metronomeSource === undefined}
    <div class="text-center">
      <Loading />
    </div>
  {:else}
    <div class="text-center">
      <h1 class="text-3xl font-bold mb-2">{$tracks[$page.params.id].name}</h1>
      <h2 class="text-2xl mb-2">{$tracks[$page.params.id].artist}</h2>
      <h3 class="text-xl mb-4">{Math.round($tracks[$page.params.id].bpm)} BPM</h3>

      <div class="flex flex-col items-center justify-center mb-4">
        <div class="inline-block relative h-96 animate-heartbeat">
          <img src="/images/emojis/static/red_heart.png" alt="Red Heart Emoji" />
        </div>

        <progress
          class="progress w-56 mt-4"
          value={currentTime}
          max={audio && isFinite(audio.duration) && audio.duration !== 0 ? audio.duration : 0}
        />
      </div>
    </div>
  {/if}
</div>

<style>
  .animate-heartbeat {
    animation: heartbeat 1s infinite;
    transform-origin: center;
  }

  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
