<footer class="footer flex items-center justify-center bg-neutral text-neutral-content p-4">
  <aside class="items-center grid-flow-col">
    <a href="https://davidstephenson.net"><p class="text-center">Created By <b>David Stephenson</b></p></a>
  </aside>
</footer>
