<script>
  import { loadingStatus } from "$lib/stores";

  let status;

  loadingStatus.subscribe((value) => {
    status = value;
  });
</script>

<div class="min-h-screen flex flex-col items-center justify-center">
  <div class="text-center">
    <img src="/images/emojis/animated/growing_heart.png" alt="Heart Loader" title="Loading" />
  </div>
  <h1 class="text-4xl font-bold text-center mt-4">{status}</h1>
</div>

<style>
  img {
    pointer-events: none;
  }
</style>
